@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html {
  font-family: "Montserrat", Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

.form-bg {
  top: -15px;
  background: #009688; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, input, textarea {
  font: inherit;
  margin: 0; }

input {
  line-height: normal; }

textarea {
  overflow: auto; }

#container {
  border: solid 2px #FAFAFA;
  max-width: 85%;
  margin: 60px auto;
  position: relative; }

form {
  padding: 37.5px;
  margin: 50px 0; }

h1 {
  padding-top: 1em;
  color: #FAFAFA;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase; }

.icon_wrapper {
  margin: 50px auto;
  width: 100%; }

.icon {
  display: block;
  margin: 0 auto;
  width: 3em;
  position: relative;
  top: 2.5em; }

.material-icons.md-48 {
  font-size: 48px; }

.material-icons.color {
  color: #FAFAFA; }

input[type='text'], [type='email'], textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #FAFAFA;
  color: #FAFAFA;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

input[type='text'], [type='email'] {
  text-transform: uppercase; }

input[type='text']:focus, [type='email']:focus, textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0; }

.message {
  float: none; }

.name {
  float: left;
  width: 45%; }
  .name:nth-child(2n) {
    float: right; }

.email {
  width: 100%; }

.subject {
  width: 100%; }

textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%; }

::-webkit-input-placeholder {
  color: white; }

:-moz-placeholder, ::-moz-placeholder {
  color: #FAFAFA;
  opacity: 1; }

:-ms-input-placeholder {
  color: white; }

#form_button {
  background: none;
  border: solid 2px #FAFAFA;
  color: #FAFAFA;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  #form_button:hover {
    background: #FAFAFA;
    color: #009688; }

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%; } }
@media screen and (max-width: 540px) {
  h1 {
    font-size: 22px; }

  .underline {
    width: 68px; }

  #form_button {
    padding: 15px 25px; } }
@media screen and (max-width: 480px) {
  h1 {
    font-size: 20px; }

  .underline {
    width: 68px; }

  #form_button {
    padding: 15px 25px; } }
@media screen and (max-width: 420px) {
  h1 {
    font-size: 14px; }

  .material-icons.md-48 {
    font-size: 36px; }

  .underline {
    width: 53px; }

  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em; } }

/*# sourceMappingURL=form.css.map */
