<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>My Recommendations</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../../view/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../../view/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="index.html">Personal Info</a></li>
        <li><a href="recommendme.html">Recommend Me</a></li>
        <li><a href="myreco.html">My Recommendations</a></li>
        <li><a href="#">Logout</a></li>
      </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="index.html">Personal Info</a></li>
          <li><a href="recommendme.html">Recommend Me</a></li>
          <li><a href="myreco.html">My Recommendations</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
  </nav>
  <div class="content">

  </div>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <script src="../../view/js/ui/bin/materialize.js"></script>
 <script src="../../view/js/ui/init.js"></script>

</body>

</html>
